* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(129, 128, 128);
}

.main-panel {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.nav-panel {
    position: sticky;
    object-fit: cover;
    top: 0;
    z-index: 1;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/ant-man.jpeg);
    background-size: cover;
    border: none;
}

.nav-panel header {
    color: aquamarine;
    font: 1.5rem sans-serif;
}

.link-panel {
    display: flex;
    gap: 2rem;
}

.link-panel a,
.search {
    color: white;
}

.link-panel a {
    font: 1rem sans-serif;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.content-panel {
    flex-grow: 1;
    background-color: black;
    background-size: cover;
    border: none;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.slider-movie-panel {
    position: relative;
    width: 800%;
    height: 100%;
    margin: 0;
    left: 0;
    animation: slidy 25s infinite;
}

.movie-slide {
    width: 12.5%;
    height: 27rem;
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.6rem;
    padding-left: 1rem;
    color: white;
    margin-bottom: 1.5rem;
}

@keyframes slidy {
    /* 1 0 - 7.5 - 0*/
    0% {
        left: 0%;
    }
    7.5% {
        left: 0%;
    }
    /* 2 12.5 - 20 - 100 */
    12.5% {
        left: -100%;
    }
    20% {
        left: -100%;
    }
    /* 3 25 - 32.5 - 200*/
    25% {
        left: -200%;
    }
    32.5% {
        left: -200%;
    }
    /* 4 37.5 - 45 - 300*/
    37.5% {
        left: -300%;
    }
    45% {
        left: -300%;
    }
    /* 5 50 - 57.5 - 400 */
    50% {
        left: -400%;
    }
    57.5% {
        left: -400%;
    }
    /* 6 62.5 - 70 - 500 */
    62.5% {
        left: -500%;
    }
    70% {
        left: -500%;
    }
    /* 7 75 - 82.5 - 600 */
    75% {
        left: -600%;
    }
    82.5% {
        left: -600%;
    }
    /* 8 87.5 - 95 - 700 */
    87.5% {
        left: -700%;
    }
    95% {
        left: -700%;
    }
    /* 100% */
    100% {
        left: -700%;
    }
}

.director-label,
.movie-label {
    color: white;
    padding-top: 1.5rem;
    padding-left: 2rem;
}

.directors-panel {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.director {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 15rem;
    width: 18rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.6rem;
    padding-left: 1rem;
    color: white;
}

.know-more {
    display: flex;
    gap: 1.2rem;
    padding-bottom: 1rem;
}

.know-more button {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    opacity: 0.8;
}

.know-more button:nth-child(1) {
    background-color: rgb(233, 191, 52);
    font: bold 1rem sans-serif;
}

.know-more button:nth-child(2) {
    background-color: rgb(61, 61, 60);
    color: white;
    font: bold 0.8rem sans-serif;
}

.know-more button:hover {
    opacity: 1;
    cursor: pointer;
}

.know-more button:nth-child(2):hover {
    transition: 0.4s;
    font-size: 0.9rem;
}

.movies-panel {
    align-self: center;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slide-container {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    transition: scroll 4s ease;
}

.slide-container .slide-content {
    scroll-snap-align: start;
    width: 25%;
    flex-shrink: 0;
    display: flex;
}

.slide-container .slide-content .movie {
    margin: 1rem;
    height: 13rem;
    width: 94%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 0.6rem;
    padding: 1rem;
    color: white;
}

.movies-panel .slide-container .slide-content .movie p , .directors-panel .director p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide-control {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: antiquewhite;
    border: none;
    outline: none;
    border-radius: 10%;
    font-size: 1.5rem;
}

.slide-control:hover {
    cursor: pointer;
}

.footer {
    flex: 0 0 3.5rem;
    background-image: url(../img/ant-man.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > h4 {
    color: #f4fff8;
}
